* {
    box-sizing: border-box;
    list-style:none;
	font-family:verdana;
 }
 
 .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
 
.linha::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 25px;
}

@media only screen and (min-width: 992px) {
/* Para desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	.linha::after {
		content: "";
		clear: both;
		display: block;
	}

	.desloca-1 {
	  margin-left: 8.333333%;
	}

	.desloca-2 {
	  margin-left: 16.666667%;
	}

	.desloca-3 {
	  margin-left: 25%;
	}

	.desloca-4 {
	  margin-left: 33.333333%;
	}

	.desloca-5 {
	  margin-left: 41.666667%;
	}

	.desloca-6 {
	  margin-left: 50%;
	}

	.desloca-7 {
	  margin-left: 58.333333%;
	}

	.desloca-8 {
	  margin-left: 66.666667%;
	}

	.desloca-9 {
	  margin-left: 75%;
	}

	.desloca-10 {
	  margin-left: 83.333333%;
	}

	.desloca-11 {
	  margin-left: 91.666667%;
	}
}

@media only screen and (min-width: 768px) {
    /* For tablets: */
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}
}

@media only screen and (max-width: 576px) {
     /* Para dispositivos Moveis : */
    
	.col-c-1 {width: 8.33%;}
    .col-c-2 {width: 16.66%;}
    .col-c-3 {width: 25%;}
    .col-c-4 {width: 33.33%;}
    .col-c-5 {width: 41.66%;}
    .col-c-6 {width: 50%;}
    .col-c-7 {width: 58.33%;}
    .col-c-8 {width: 66.66%;}
    .col-c-9 {width: 75%;}
    .col-c-10 {width: 83.33%;}
    .col-c-11 {width: 91.66%;}
    .col-c-12 {width: 100%;}
	
		
}

